body{
    height: 2000px;
    width: 100%;
    margin: 0;
    background-color: rgba(252, 245, 235, 0.644);
}
#header{
    display: flex;
    width: 1900px;
    height: 100px;
    background-color: rgba(252, 245, 235, 0.644);
    color: black;
    position: fixed;
    border-bottom: 0.5px solid rgb(128, 128, 128, 0.2);
}

#div1{
    margin-left: 10px;
    padding: 20px;
}

#navBar-logo{
    margin-left: 280px;
    padding: 25px;
    font-size: 20px;
}

#navBar-logo a{
    text-decoration: none;
    color: black;
    margin-left: 100px;
    font-weight:lighter;
}

#navBar-logo a:hover{
    border-bottom: 2px solid rgb(37,211,102) ;
}

#navBar-items{
    margin-left: -40px;
    padding: 27px;
}

#navBar-items a{
    margin-left: 50px;
    font-size: 18px;
    font-weight:lighter;
    text-decoration: none;
    color: black;
}

#navBar-items a:hover{
    border-bottom: 2px solid rgb(37,211,102) ;
}

.navBAr-buttons{
    margin-top: 15px;
    margin-left: 330px;
    display: flex;
}

.buttons{
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    margin-left: 10px;
}

.buttons:hover{
    color: white;
}

#buttons1{
    background-color: rgb(255,255,255);
    text-decoration: none;
    font-size: 18px;
}

#buttons1:hover{
    background-color: black;
}

#buttons2{
    background-color: rgb(37,211,102);
    text-decoration: none;
}

#buttons2:hover{
    background-color: black;
    color: white;
}

#buttons2 a{
    text-decoration: none;
    font-size: 18px;
}

#buttons2 a:hover{
    color: white;
}

#body1{
    height: 900px;
    padding: 0px 50px;
}

#B-body1{
    background-image: url(./image/background-color1.png);
    background-size: cover;
    width: 1800px;
    height: 100%;
    border-radius: 30px;
}

#B-body1{
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 800px;
    width: 100%;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



#B-body1 span:first-child{
    font-size: 60px;
}

#B-body1 span:nth-of-type(2){
    font-size: 18px;
}

#navBar-buttons{
    margin-left: -15px;
}





#body2{
    padding: 0px 50px;
}

#B-body2{
    background: linear-gradient(100deg, rgb(128, 128, 128), rgb(255, 255, 255), rgb(128, 128, 128)), url(./image/mother.png) ;
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 800px;
    width: 100%;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#B-body2 span:first-child{
    font-size: 60px;
}

#B-body2 span:nth-of-type(2){
    font-size: 18px;
}

#navBar-buttons{
    margin-left: -15px;
}

#B-body2i{
    margin-left: -800px;
}
